@model ITI.Models.NewsTableModel
<div class="row">
    <div class="col-lg-12 col-md-12 col-md-12 box box-info">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box-header with-border">
                <h3 class="box-title">News</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "AdminNews", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    <div class="form-group">
                        <label for="Name" class="col-md-4 control-label">News Date</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.NewsDate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.NewsDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-4 control-label">News HeadLine</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.NewsHeadLine, new { @class = "form-control", @style = " width: 500px;", @cols = 30, @rows = 3 })
                            @Html.ValidationMessageFor(x => x.NewsHeadLine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-4 control-label">News Text</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.NewsText, new { @class = "form-control", @style = " width: 500px;", @cols = 35, @rows = 5 })
                            @Html.ValidationMessageFor(x => x.NewsText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.HiddenFor(x => x.ID)
                    <a href="/admin/adminNews/index" class="btn btn-default">Back To List</a>
                    <button type="submit" class="btn btn-info pull-right">Insert News</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
        <!-- /.box -->
        <div class="col-md-6">

        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    $('.datepicker').datepicker(); //Initialise any date pickers
</script>
}