
@{
    ViewBag.Title = "StudentList";
}
@model List<ITI.Web.Data.Student>
<div class="container">
    <br />
    <div class="content">
        <div class="col-xs-12">
            <div class="row w-100">
                <table class="table table-bordered col-12">
                    <tr>
                        <th valign="top">
                            <p>S. No.</p>
                        </th>

                        <th valign="top">
                            <p>Name</p>
                        </th>
                        <th valign="top">
                            <p>Father Name</p>
                        </th>
                        <th valign="top">
                            <p>Date of Birth</p>
                        </th>
                        <th valign="top">
                            <p>Category</p>
                        </th>

                        <th valign="top">
                            <p>Qualification</p>
                        </th>
                        <th valign="top">
                            <p>Percentage</p>
                        </th>
                        <th valign="top">
                            <p>PTET %</p>
                        </th>
                        <th valign="top">
                            <p>Admit Date</p>
                        </th>
                    </tr>
                    @{ int n = 0; }
                    @foreach (var staff in Model)
                    {
                        n = n + 1;
                        <tr>
                            <td>@n</td>
                            <td>@staff.Name</td>
                            <td>@staff.FatherName</td>
                            <td>@staff.MotherName</td>
                            <td>@staff.Category</td>
                            <td>@staff.Qualification</td>
                            <td>@staff.Percentage</td>
                            <td>@staff.Ptet_Per</td>
                            <td>
                                @(staff.DateOfAdmit != null ? @staff.DateOfAdmit.Value.ToString("dd/MM/yyyy") : @"")
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <br />
</div>


