@model ITI.Models.StaffModel 
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 box box-info">
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box-header with-border">
                    <h3 class="box-title">New Staff</h3>
                </div>
                <div class="row">
                    @if (ViewBag.Error != null)
                    {
                        <div class="error-content">
                            @ViewBag.Error
                        </div>
                    }
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("StaffCreate", "AStaffStundent", FormMethod.Post, new { @class = "form-horizontal", name = "studentform" }))
                {
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(x => x.Name, "Student Name", new { @class = "col-sm-2 control-label" }*@
                    <label for="Name" class="col-sm-4 control-label">Staff Name</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.StaffName, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="FatherName" class="col-sm-4 control-label">Father's Name</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.FatherName, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.FatherName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Designation</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Designation, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Date Of Birth</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.DateofBirth, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Date Of Join</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.DateOfJoin, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Salary</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Salary, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Pan Number</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Designation, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Aadhar Numbere</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.AadharNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Experience</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Experience, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Select Staff</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.StaffType, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">First Teaching Subject</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.TeachSubFirst, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Second Teaching Subject</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.TeachSubSecond, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Highest Qualification </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">First Marks</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SubjectNumFirst, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="DateofBirth" class="col-sm-4 control-label">Second Marks</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SubjectNumSecond, new { @class = "form-control" })
                    </div>
                </div>
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @Html.HiddenFor(x => x.ID)
                        <a href="/Admin/AStaffStundent/NonTeachingStaff" class="btn btn-default">Non Teaching Staff</a>
                        <a href="/Admin/AStaffStundent/TeachingStaff" class="btn btn-default">Teaching Stafft</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
            <!-- /.box -->
            <div class="col-md-6">

            </div>
        </div>
    </div>
