@model IEnumerable<ITI.Models.TraineeModel>
<div class="container">
    <br /><br />
</div>
<div class="container">
    <table border="1" cellspacing="0" cellpadding="0" width="100%" class="tableizer-table">
        <tbody>
            <tr> 
                <td rowspan="2" valign="top">
                    <p><b>Trade</b></p>
                </td>
                <td colspan="3" valign="top">
                    <p><b>Number of Units</b></p>
                </td>
                <td colspan="3" valign="top">
                    <p><b>No. of Trainees </b></p>

                    <p><b>on-roll shift wise</b></p>
                </td>
                <td colspan="3" valign="top">
                    <p><b>No. of Trainees available on the date of inspection</b></p>
                </td>
                <td rowspan="2" width="10%" valign="top">
                    <p><b>Average % attendance as on Date of Inspection</b></p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p><b>I shift</b></p>
                </td>
                <td valign="top">
                    <p><b>II shift</b></p>
                </td>
                <td valign="top">
                    <p><b>III shift</b></p>
                </td>
                <td valign="top">
                    <p><b>I shift</b></p>
                </td>
                <td valign="top">
                    <p><b>II shift</b></p>
                </td>
                <td valign="top">
                    <p><b>III shift</b></p>
                </td>
                <td valign="top">
                    <p><b>I shift</b></p>
                </td>
                <td valign="top">
                    <p><b>II shift</b></p>
                </td>
                <td valign="top">
                    <p><b>III shift</b></p>
                </td>
            </tr>
            @foreach (var trainee in Model)
            {
                <tr> 
                <td valign="top">
                    <p><b>
                        @trainee.Trade
                        </b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.UnitFirst</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.UnitSecond</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.UnitThird</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.TraineesFirst</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.TraineesSecond</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.TraineesThird</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.InspectionFirst</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.InspectionSecond</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.InspectionThird</b></p>
                </td>
                <td valign="top">
                    <p><b>@trainee.AverageInspection</b></p>
                </td>
            </tr> 
            } 
        </tbody>
    </table>
</div>
<div class="container">
    <br /><br />
</div>