<!DOCTYPE html> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mahatma Gandhi Industrial Training Centre</title>
    @Scripts.Render("~/bundles/modernizr")
    @* @Styles.Render("~/Content/admin")*@
    @Styles.Render("~/bundles/csss")
    @Styles.Render("~/bundles/scss")

</head>
<body>
    <div class="wrapper">
        @Html.Partial("_homeheader")
        <!-- Left side column. contains the logo and sidebar -->
        @*@Html.Partial("_sidebarhome")*@
        <!-- Content Wrapper. Contains page content -->

        <div class="container mt-5">
            <div class="clearfix mt-4 mb-4 pt-4 pb-4"></div>
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <div class="clearfix mt-4 mb-4 pt-4 pb-4"></div>
        @Html.Partial("_homefooter")
        <!-- Control Sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
<DIV style="LEFT: -999px; POSITION: absolute; TOP: -999px"><A href="http://www.wholesale-cheapshoes.org">cheap air max</A>|<A href="http://www.sale-shoe.com">cheap air jordans</A>|<A href="http://www.pompy-wtryskowe.top">pompy wtryskowe</A>|<A href="http://www.cheap-huarache.com">cheap huarache shoes</A>| <A href="http://www.bombas-inyeccion.top">bombas inyeccion</A>|<A href="http://www.cheap-jordans-china.net">cheap jordans</A>|<A href="http://www.cheap-wholesale-shoes.com">cheap sneakers</A>|<A href="http://www.wholesale-exporter.com">wholesale jordans</A>|<A href="http://www.cheap-china-jordans.com">cheap china jordans</A>|<A href="http://www.cheap-wholesale-jordans-china.net">cheap wholesale jordans</A>|<A href="http://www.cheap-wholesale-shoes.net">cheap jordans</A>|<A href="http://www.wholesale-jewelry-china.com">wholesale jewelry china</A></DIV>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fonts")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/adminjquery")*@

    @RenderSection("scripts", required: false)
</body> 