@model ITI.Models.StaffModel
    <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12 box box-info">
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box-header with-border">
                    <h3 class="box-title">Add Staff Details</h3>
                </div>
                <div class="row">
                    @if (ViewBag.Error != null)
                    {
                        <div class="error-content">
                            @ViewBag.Error
                        </div>
                    }
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("AddStaff", "Staff", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">
                <div class="form-group">
                    <div class="row">
                        <label for="Name" class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="DateOfBirth" class="col-md-4 control-label">Date Of Birth</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="StaffType" class="col-md-4 control-label">Staff Category</label>
                        <div class="col-md-8">
                            <select id="StaffType" name="StaffType" class="form-control">
                                <option value="">Select</option>
                                <option value="B_Ed" @(Model.StaffType=="B_Ed" ? "selected" : "")>B.Ed</option>
                                <option value="D_El_Ed" @(Model.StaffType=="D_El_Ed" ? "selected" : "")>D.El.Ed</option>
                                <option value="Integrated" @(Model.StaffType=="INTEGRATED" ? "selected" : "")>Integrated</option> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Category" class="col-md-4 control-label">Category</label>
                        <div class="col-md-8">
                            <select id="Category" name="Category" class="form-control">
                                <option value="Gen" @(Model.Category=="Gen" ? "selected" : "")>Gen</option>
                                <option value="SC" @(Model.Category=="SC" ? "selected" : "")>SC</option>
                                <option value="ST" @(Model.Category=="ST" ? "selected" : "")>ST</option>
                                <option value="OBC" @(Model.Category=="OBC" ? "selected" : "")>OBC</option>
                                <option value="Other" @(Model.Category=="Other" ? "selected" : "")>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Designation" class="col-md-4 control-label">Designation</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Designation, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Name" class="col-md-4 control-label">Date Of Birth</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Name" class="col-md-4 control-label">Date Of Join</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.DateOfJoin, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="B_Ed_Marks" class="col-md-4 control-label">B.Ed. Marks (%)</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.B_Ed_Marks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="M_Ed_Marks" class="col-md-4 control-label">M.Ed. Marks (%)</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.M_Ed_Marks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Masters Marks" class="col-md-4 control-label">Master Marks (%)</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Masters_Marks, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="TeachingSubject" class="col-md-4 control-label">Teaching Subject</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.TeachingSubject, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Has_Phed" class="col-md-4 control-label">Ph. D. (Education/ Specify the subject)</label>
                        <div class="col-md-8">
                            <select id="Has_Phed" name="Has_Phed" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Has_UGC_Net" class="col-md-4 control-label">Passed UGC NET or equivalent </label>
                        <div class="col-md-8">
                            <select id="Has_UGC_Net" name="Has_UGC_Net" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Experience" class="col-md-4 control-label">Teaching Experience </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Experience, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Experience" class="col-md-4 control-label">Teaching Experience </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Experience, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="Name" class="col-md-4 control-label">Attested photograph of the appointed staff</label>
                        <div class="col-md-8">
                            @*<input type="file" id="PhotoName" class="form-control" name="PhotoName" />*@
                            @Html.TextBoxFor(x => x.FileName, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PhotoGraph, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.box-body -->
            <div class="box-footer">
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.PhotoGraph)
                <a href="/Admin/Staff/Index" class="btn btn-default">Back To Staff List</a>
                <button type="submit" class="btn btn-info pull-right">Save</button>
            </div>
                <!-- /.box-footer -->
            }
            </div>
        </div>
    </div>
        @section scripts
{
            <script type="text/javascript">
                $('.datepicker').datepicker(); //Initialise any date pickers
            </script>
        }
