@model ITI.Models.TradeAffiliationSouModel
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 box box-info">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box-header with-border">
                <h3 class="box-title">Trade Affiliation</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "TradeAffiliationSou", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    <div class="form-group">
                        <label for="Name" class="col-sm-4 control-label">Trade Name</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.TradeName, new { @class = "form-control", @style = " width: 500px;", @cols = 35, @rows = 5 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-4 control-label">First Unit</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.FirstUnit, new { @class = "form-control", @style = " width: 500px;", @cols = 30, @rows = 3 })
                        </div>
                    </div> 
                    <div class="form-group">
                            <label for="Name" class="col-sm-4 control-label">Second Unit</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.SecondUnit, new { @class = "form-control", @style = " width: 500px;", @cols = 35, @rows = 5 })
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="Name" class="col-sm-4 control-label">Third Unit</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.ThirdUnit, new { @class = "form-control", @style = " width: 500px;", @cols = 35, @rows = 5 })
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="Name" class="col-sm-4 control-label">Session Year</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.SessionYear, new { @class = "form-control", @style = " width: 500px;", @cols = 35, @rows = 5 })
                            </div>
                    </div>  
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.HiddenFor(x => x.ID)
                    <a href="/Admin/TradeAffiliationSou/Index" class="btn btn-default">Back To List</a>
                    <button type="submit" class="btn btn-info pull-right">Save Information</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
        <!-- /.box -->
        <div class="col-md-6">

        </div>
    </div>
</div>
